// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$product-box-width: 200px;

.product_box {
  width: $product-box-width;
  height: 350px;
  padding-right: 5px;
  float: left;

  img {
    max-width: $product-box-width;
    max-height: 200px;
    height: auto;
    margin-left: auto;
  	margin-right: auto;
  	display: block;
  }
}
